@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --font-family-primary: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --color-burgundy: #3B0017;
}

body {
  font-family: var(--font-family-primary), serif;
}
