@import url('https://fonts.googleapis.com/css2?family=Obviously:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --font-family-obviously: "Obviously", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-burgundy: #3B0017;
}

body {
  font-family: var(--font-family-obviously), serif;
}
